<div data-role="page" id="home">
	<div data-role="content">
		<div class="logo">
			<%= image_tag "logo.png" %>
		</div>
		 <p class="logtext">
        To view your presentations please log in using the code that was provided to you </p>
	<form>
      <div data-role="fieldcontain">
        <input name="passwordField" id="passwordField" placeholder="Password.." value="" type="password" class="passwordField password">
      </div>
      <a href="#filelist" data-transition="flow"><span id="login">Login</span></a>
    </form>

	</div>
</div>


<div data-role="page" id="filelist">
	<div data-role="header">
		<div data-role="content" id="topheader">
			<a href="#home" data-transition="flow"><%= image_tag "logosmall.png", :class => "smalllogo" %></a>
		</div>
		<div data-role="content" id="bottomheader">
			Select your presentation
		</div>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="slideshowList">

		</ul>
	</div>
</div>

<div data-role="page" id="appcontroller">
	<div id='scrollable'>
		<div id='sectionwrapper'>
			
		</div>
	</div>

	<div data-role="content">
		<div class="next"><%= image_tag "next.png", :id => "next" %></div>
		<div class="prev"><%= image_tag "prev.png", :id => "prev" %></div>
	</div>

	<div  id="mypanel">
		<div class="toolbar">
			<a href="#filelist" data-transition="flow" class="js-end-slideshow"><%= image_tag "homeicon.png", :id => "homeicon" %></a>

			<div id="timer-set">
				<span id="time-remaining"></a></span>
				<a href="#" id="js-timer-icon"><%= image_tag "clock.png", :class => "endicon" %>
			</div>
		</div>
	</div><!-- /panel -->   
</div>



