<div data-role="page" id="home">
	<div data-role="content">
		<div class="logo">
			<%= image_tag "logo.png" %>
		</div>
		<div class="maincontent">
		<form action="">
			<div data-role="fieldcontain">
				<input name="password" id="password" placeholder="Password.." value="" type="password" class="password">
			</div>
			<a href="#filelist" data-transition="flow"> <button type="submit" id="login" >Login</button></a>
		</form>
		</div>
	</div>
</div>


<div data-role="page" id="filelist">
	<div data-role="header">
		<div data-role="content" id="topheader">
			<%= image_tag "logosmall.png" %>
		</div>
		<div data-role="content" id="bottomheader">
			Select your presentation
		</div>
	</div>
	<div data-role="content">
		<ul data-role="listview" id="slideshowList">
		</ul>
	</div>
</div>

<div data-role="page" id="appcontroller">
	<div id='scrollable'>
		<div id='sectionwrapper'>
			
		</div>
	</div>

	<div data-role="content">
		<div class="next"><%= image_tag "next.png", :id => "next" %></div>
		<div class="prev"><%= image_tag "prev.png", :id => "prev" %></div>
	</div>

	<div  id="mypanel">
		<div class="toolbar">
			<a href="#filelist" data-transition="flow" class="js-end-slideshow"><%= image_tag "homeicon.png", :id => "homeicon" %></a>
			<a href="#" class="js-end-slideshow"><%= image_tag "stopbtn.png", :class => "endicon" %></a>
			<a href="#" id="js-timer-icon"><%= image_tag "stopbtn.png", :class => "endicon" %></a>
			<div id="time-remaining"></div>
		</div>
	</div><!-- /panel -->   
</div>



