<!DOCTYPE html>
<html>
	<head>
	  <title>Presentation Remote | <%= yield(:title) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

	  <!-- disable zoom for multitouch -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>

<body>


<div class="navbar navbar-inverse navbar-fixed-top" id="pull-down-nav">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">PiProjector</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#about">Start</a></li>
          <li><a href="#contact">End</a></li>
          <li><a href="#contact">Back to list</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

	<%= yield %>


</body>


</html>

